<!-- Footer -->
<footer class="page-footer hide-on-med-and-down indigo darken-4">
    <div class="footer-copyright">
        <div class="container">
            &COPY; 2017, rGunti
            &ndash;
            Ver. {{utils.package.version}}
        </div>
    </div>
</footer>
