<!-- Footer -->
<footer class="page-footer hide-on-med-and-down indigo darken-4">
    <div class="footer-copyright">
        <div class="container">
            &COPY; 2017, rGunti
            &ndash;
            Ver. {{utils.package.version}}
            &nbsp;
            <small>
                App Icon by <a href="http://icons8.com" target="_blank">icons8.com</a>,
                UI Icons by <a href="http://fontawesome.io/" target="_blank">FontAwesome</a>,
                Made with <b>Materialize</b>
            </small>
        </div>
    </div>
</footer>
